
h1 {
    color: #7e685a;
    font-family: georgia;
}
.secondh1 {
    color: blue;
}
p {
    color: rgb(137, 137, 150)
}
.button1 {
    background-color: #b29881;
    border: none;
    border-style: round;
    font-family: georgia;
    font-size: 13px;
    color: white; 
    padding: 8px;
}
#one {
    background-color: #c2b9b0;
    border: none;
    padding: 8px;
    color: white;
    font-family: georgia;
}
#one:hover {
    background-color: #7e685a;
    padding: 8px;
    color: white;
    font-family: georgia;
}
body {
    color: #; 
    background-color: #fffff;
    max-width: 400px;
}
#thirdH1 {
    color: green;
}