
h1 {
    color: #7e685a;
    font-family: century gothic;
    text-transform: uppercase;
}
.secondh1 {
    color: blue;
}
h2 { 
    color: ;
    font-family: ;
    font-size: 15px;
}
p {
    color: rgb(137, 137, 150)
}
a {
    text-decoration: none;
    color: #ffffff;
    font-family: georgia;
    font-size: 13px; 
}
.button1 {
    background-color: #b29881;
    border: none;
    border-style: round;
    font-family: georgia;
    font-size: 13px;
    color: white; 
    padding: 8px;
}
#one {
    background-color: #c2b9b0;
    border: none;
    padding: 8px;
    color: rgb(122, 101, 88);
}
#one:hover {
    background-color: rgb(165, 138, 120);
    padding: 8px;
    color: #c2b9b0;
}
body {
    color: #; 
    background-color: #fffff;
    max-width: 400px;
    font-size: 13px;
}
#thirdH1 {
    color: green;
}
.column {
    border: solid 1px #000000;
    display: flex;
}
.column > div {
    border: solid 1px #000000;
    flex: 1;
}